{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "esmodules": true
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "constants": "./src/constants",
        "controllers": "./src/controllers",
        "utilities": "./src/utilities",
      }
    }]
  ]
}
